.title {
    font-style: unset;
    color: aliceblue;
}
.price {
    font-weight: bold;
    font-size: 1.1em;
    color: #28a745;
    margin-top: 0px;
  }

  .category {
    font-style: italic;
    color: #007bff;
    margin-top: 5px;
  }

  .rating {
    color: #ffc107;
    margin-top: 10px;
  }