<ion-content [fullscreen]="true">
   <ion-title>DETAILS</ion-title>
   <ion-card>
     <ion-card-content>
       <ng-container *ngIf="product">
         <span class="title"><h1>{{product.title}}</h1></span><br>
         <img [src]="product.image" alt="{{product.title}}">
         <b class="category">{{product.category}}</b><br>
         <span class="price">{{product.price | currency:'USD'}}</span><br><br>
         <b>Description</b><br>
         {{product.description}}<br><br>
         <span class="rating">Rating: {{product.rating.rate}}<ion-icon name="star"></ion-icon> ({{product.rating.count}} reviews)
         </span>
         <br><br>
         <div class="button-container">
           <ion-button expand="block" (click)="addToCart()">ADD TO CART</ion-button>
         </div>
       </ng-container>
     </ion-card-content>
   </ion-card>
 </ion-content>
